.movie {
    width: 180px;
    height: 270px;
    float: left;
    margin: 20px;
    margin-bottom: 50px;
  }
  
  .movie_picture {
    width: 180px;
    height: 270px;
    margin-bottom: 0;
    object-fit: cover;
    border-radius: 5%;
  }
  
  .movie_picture:hover {
    width: 180px;
    height: 270px;
    margin-bottom: 0;
    object-fit: cover;
    border-radius: 5%;
    filter: brightness(30%);
  }
  
  .title {
    width: 180px;
    height: 20px;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  